<html lang="en">
  {{!-- HEADER --}}
  {{>head}}
  <body>
    {{!-- NAVBAR --}}
    {{>navbar}}

    <div class="container">
    {{!-- BODY --}}
      {{{body}}}
    </div>
    
    {{!-- SCRIPT --}}
    {{>footer}}
  </body> 
</html>